@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-family: 'Lilita One', sans-serif;
}

h2,
p {
	font-family: 'Outfit', sans-serif;
}

.page {
	background-color: #fbf8f5;
}

.accentText {
	color: #1a59fb;
}

.accentBg {
	background-color: #e7edfc;
}
