@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
	font-family: 'PP Supply Sans';
}

p {
	font-family: 'PP Stellar';
}

.page {
	background-color: #f8f3ec;
}
